main {
    min-height: 75vh;
}

main .urgente {
    background-color: #DB7093;
}

main .diaria {
    background-color: #FFA500;
}

main .semanal {
    background-color: #EEE8AA;
}

main .mensual {
    background-color: #98FB98;
}

main section article .prioridad {
    width: 20%;
}

main section article .eliminar {
    color: black;
    border-radius: 5%;
    transition: 0.5s;
    cursor: pointer;
}

main section article .eliminar:hover {
    font-size: 150%;
    color: crimson;
}